{% extends "layouts/base.html" %}
{% block content %}

<body >
    <div style="text-align: center; color:rgb(255, 255, 255);" class="fontchanger gradientcolor">
        <h1 style="font-size:100px; margin-top: -15px;">Your online shop </h1>
    </div>
    <div class="card" style="background-color:black; margin-top: -15px;">
        <div class="card border-warning mb-3" style="max-width: 18rem; background-color:black">
            <div class="card-body">
                <h5 class="card-title" style="color:rgb(255, 255, 217);">About our shop</h5>
                <p class="card-text"  style="color:rgb(255, 255, 217);">This webpage gives you the opportunity to shop easily. We are working for your
                    comfortable shopping. <a href="#">Log in</a> or if you don't have our account <a href="#">Tap here to register </a></p>
                <p class="card-text"  style="color:rgb(255, 255, 217);">Here are some music you might like to listen while shopping with us: <br>
                    <a href="https://youtu.be/skl6N3zGv-s" target="_blank">Rammstein - Adieu</a> <br>
                    <a href="https://youtu.be/HTr7bqKHvgE" target="_blank">Gojira - The Art Of Dying</a> <br>
                    <a href="https://youtu.be/tAGnKpE4NCI" target="_blank">Metallica - Nothing Else Matters</a> <br>
                    <a href="https://youtu.be/JwYX52BP2Sk" target="_blank">Pink Floyd - Time</a> <br>
                    <a href="https://youtu.be/TFjmvfRvjTc" target="_blank">Pink Floyd - Hey You</a> <br>
                    <a href="https://youtu.be/z0DAnu5Sq6k" target="_blank">Led Zeppelin - All of My Love</a> <br>
                    <a href="https://youtu.be/p32b5nNq1zw" target="_blank">Iron Maiden - Fear of The Dark</a> <br>
                    <a href="https://youtu.be/OJbqplkBBv8" target="_blank">Rotting Christ - Χ Ξ Σ</a> <br>
                    <a href="https://youtu.be/LgV8Op-Ofc4" target="_blank">Manowar - Gods Of War</a> <br>
                    <a href="https://youtu.be/6pu5kfeapEA" target="_blank">Sabaton - Swedish Pagans</a> <br>
                    <a href="https://youtu.be/lqeKTbC1mqc" target="_blank">Black Sabbath - Damaged Soul</a> <br>
                </p>
                
            </div>
</body>
{% endblock %}