{% from "macros/macros.html" import is_active%}
<nav class="navbar navbar-expand-lg bg-body-tertiary p-3 mb-2 bg-dark text-white">
    <div class="container-fluid" >
      <a class="nav-item gradientcolor" href="#" >Account</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item gradientcolor">
            <a class="nav-link {{is_active(request.endpoint, 'home.home')}}" aria-current="page" href="#" style="color:white">Home</a>
          </li>
          <li class="nav-item gradientcolor">
            <a class="nav-link" href="#" style="color:white">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle gradientcolor" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white">
              What are you searching for?
            </a>
            <ul class="dropdown-menu bg-dark" >
              <li><a class="dropdown-item gradientcolor" href="#">Shirts</a></li>
              <li><a class="dropdown-item gradientcolor" href="#">Necklaces</a></li>
              <li><a class="dropdown-item gradientcolor" href="#">Hoodies</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>