{% extends "layouts/base.html" %}
{% block content %}

<h1 class="gradientcolor fontchanger" style="text-align: center; color:rgb(8, 180, 192); font-size:70px; margin-top:-10px;"> Reset your password </h1>

    <div style="text-align: center;">
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <div class="gradientcolor" style="margin-bottom: 10px; text-align:center;" >
            {{ message }}
        </div>
        {%endfor%}
        {% endwith %}
        <form method="post">
            {{ recoveryform.hidden_tag() }}
            <div>
                {{ recoveryform.email(class="backgroundgradient", placeholder = recoveryform.email.label.text, style="margin-top:20px;") }}
            </div>
            {{ recoveryform.submit(class="backgroundgradient", style="width:200px; margin-top:10px;") }}
        </form>
    </div>
{% endblock %}