{% extends "layouts/base.html" %}
{% block content %}
<h1 class="gradientcolor fontchanger" style="text-align: center; color:rgb(8, 180, 192); font-size:90px;">Register here </h1>
<div style="text-align: center;">
    {% for field,error in registerform.errors.items() %}
    <div class="gradientcolor"  style="margin-bottom: 10px;" role="alert">
        {{ error[0] }}
    </div>
    {% endfor %}

    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
    <div class="gradientcolor" style="margin-bottom: 10px;">
        {{ message }}
    </div>
    {%endfor%}
    {% endwith %}

<form  method="post"  enctype="multipart/form-data">
    {{ registerform.hidden_tag() }}
    {{ registerform.username (class="backgroundgradient", placeholder = registerform.username.label.text)}} <br>
    {{ registerform.email (class="backgroundgradient", placeholder = registerform.email.label.text)}}<br>
    {{ registerform.password (class="backgroundgradient", placeholder = registerform.password.label.text)}}<br>
    {{ registerform.confirmation (class="backgroundgradient", placeholder = registerform.confirmation.label.text)}}
    <br>
    {{ registerform.submit (value="Register",class="backgroundgradient",style="width:200px;") }}

</form><br>
</div>


{% endblock %}