{% extends "layouts/base.html" %}
{% block content %}
<div style="text-align:center;">
    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
    <div class="gradientcolor" style="margin-bottom: 10px; text-align:center;">
        {{ message }}
    </div>
    {%endfor%}
    {% endwith %}
    <form method="post">
        {{ resetform.hidden_tag() }}
        <div>
            <label for="inputPassword">{{ resetform.password.label (class="gradientcolor fontchanger",
                style="margin-bottom:5px; font-size:30px;") }}</label><br>
            {{ resetform.password(class="backgroundgradient", id="inputPassword", placeholder="Enter password",style="margin-bottom:0px;") }}
        </div>
        <div>
            <label for="inputConfirmPassword">{{ resetform.confirm_password.label (class="gradientcolor fontchanger",
                style="margin-bottom:5px; font-size:30px;") }}</label> <br>
            {{ resetform.confirm_password(class="backgroundgradient", id="inputConfirmPassword", placeholder="Repeat password") }}
        </div>
        {{ resetform.submit(class="backgroundgradient", style="width:200px;margin-top:10px;") }}
    </form>
</div>
{% endblock %}