{% extends "layouts/base.html" %}
{% block content %}
    <div class="container mt-5 rounded bg-white p-4 shadow">
        <form method="post">
            {{ resetform.hidden_tag() }}
            <div class="form-group mt-2">
                <label for="inputPassword">{{ resetform.password.label }}</label>
                {{ resetform.password(class="form-control", id="inputPassword", placeholder="Enter password") }}
            </div>
            <div class="form-group mt-2">
                <label for="inputConfirmPassword">{{ resetform.confirm_password.label }}</label>
                {{ resetform.confirm_password(class="form-control", id="inputConfirmPassword", placeholder="Repeat password") }}
            </div>
            {{ resetform.submit(class="btn btn-primary mt-2") }}
        </form>
    </div>
{% endblock %}