
.link{
   text-align: left;
}
.link a{
    background: -webkit-linear-gradient(#0059ff, #ffe600);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
}
.link a:hover{
    font-weight: 700;
}

@font-face {
    font-family: "myfont";
    src: url(regular.ttf);
}

.fontchanger{
    font-family: "myfont", sans-serif;
}
.gradientcolor{
    background: -webkit-linear-gradient(#0059ff, #ffe600);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:20px;
}
.backgroundgradient{
    width:400px;
    height:45px;
    margin-bottom:10px;
    color:rgb(255, 242, 171);
    border: none;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,38,121,1) 35%, rgba(255,235,0,1) 100%);
    border-radius: 13px;
}
::placeholder {
    color: rgb(255, 242, 171);
    opacity: 1; 
    padding-left: 5px;
  }
  